<footer class="text-light footer py-3" style="background-color: #1885d3;">
    <div class="container">
        <div class="d-flex flex-column align-items-center gap-3">
            <img src="resource/logo.png" 
                 alt="лого" 
                 class="img-fluid w-25 mb-3"
                 style="max-width: 150px;">
            
            <div class="text-center">
                <p class="mb-2">© ООО "КАПИКОН" 2021-2024</p>
                <p class="mb-2">Все права защищены</p>
                <p class="mb-2">225903, г. Малорита, ул. Мицкевича, 1</p>
                <p class="mb-0">E-mail: mail@capicon.by</p>
            </div>
        </div>
    </div>
</footer>