<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="resource/logo.png" width="64px">
                </a>
            <div class="collapse navbar-collapse justify-content-between">
                <div class="d-flex justify-content-center flex-column  text-end">
                    <span class="h5 mb-0">ООО "КАПИКОН"</span>
                    <span class="h5 mb-0">г. Малорита</span>
                </div>
                <div class="d-flex justify-content-center flex-column text-end">
                    <span class="h5 mb-0">+375 (29) 521-78-06</span>
                    <span class="h5 mb-0">+375 (33) 605-05-31</span>
                </div>
                <div class="d-flex justify-content-center flex-column text-end">
                    <span class="h5 mb-0">mail@capicon.by</span>
                </div>
                <button class="btn rounded-pill px-4 py-2" 
                style="--bs-btn-bg: #69afdb; 
                 --bs-btn-hover-bg: #40a6c0;
                 --bs-btn-active-bg: #2f8c9e;
                 --bs-btn-color: #fff;
                 --bs-btn-hover-color: #fff;
                 --bs-btn-active-color: #fff; 
                 --bs-btn-border-color: #69dbc0;">
            Контакты
            </button>
            </div>
            
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar bg-white mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse justify-content-start">
                <ul class="navbar-nav flex-row gap-3">
                    <li class="nav-item">
                        <a class="nav-link h5 mb-0" 
                           asp-controller="Home" 
                           asp-action="Index"><h5>Продукция</h5>   </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 mb-0" 
                           asp-controller="Home" 
                           asp-action="Index"><h5>О нас</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 mb-0" 
                           asp-controller="Home" 
                           asp-action="Index"><h5>Обратная связь</h5></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>